DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb"

BETTER_AUTH_SECRET="dQcKfQMEEZoFdBlyk7BinduUN3rvjrU9"
BETTER_AUTH_URL="http://localhost:3000"

GITHUB_CLIENT_ID="0sjs71n1912873h1i17b"
GITHUB_CLIENT_SECRET="oalksd8w1b123o5lk123145500aa9sd"

NEXT_PUBLIC_API_URL="http://localhost:3000"